[submodule "data-modeling-with-postgres"]
	path = data-modeling-with-postgres
	url = git@github.com:happytomatoe/data-modeling-with-postgres.git
[submodule "data-modeling-with-redshift"]
	path = data-modeling-with-redshift
	url = git@github.com:happytomatoe/data-modeling-with-redshift.git
[submodule "data-modeling-with-cassandra"]
	path = data-modeling-with-cassandra
	url = git@github.com:happytomatoe/data-modeling-with-cassandra.git
[submodule "data-lake"]
	path = data-lake
	url = git@github.com:happytomatoe/data-lake.git
[submodule "data-pipelines-with-airflow"]
	path = data-pipelines-with-airflow
	url = git@github.com:happytomatoe/data-pipelines-with-airflow.git
[submodule "yelp-etl-pipeline"]
	path = yelp-etl-pipeline
	url = https://github.com/happytomatoe/yelp-etl-pipeline.git
